.Discover{
    display: flex;
    height: 600px;
    @media (max-width: 1100px) {
        display: block;
        padding-top: 0%;
        height: auto;
      }
}
.Discover h2 {
    color: #c49b63;
    margin-bottom: -15px;
}

.backgroundDiscover{
    width: 50%;
    @media (max-width: 1100px) {
        width: 100%;
      }
}
.backgroundDiscover img{
    width: 100%;
    height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    background-color: #110e13;
}
.OurStory{
    background-color: rgba(0, 0, 0, 0.359);
    width: 550px;
    height: 65%;
    position: absolute;
    right: 120px;
    padding: 20px;
    margin: 70px;
   color: #ffffff91;
   @media (max-width: 1100px) {
    margin: 0px;
    position: relative;
    right: 10px;
    background: none;
    width: 100%;

  }

}