.Footer{
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 50px;
}
.FooterContaner{
    display: flex;
    width: 95%;
    justify-content: center;
    margin: auto;
    gap: 20px;
    @media (max-width: 707px) {
        display: block;
    }
}
.Section{
    width: 28%;
    margin-bottom: 90px;
    @media (max-width: 707px) {
        width: 100%;
    }
}
.pastaOne img,.pastaTow img {
    width: 100px;
    padding-right: 7px;
}
.pastaOne,.pastaTow{
    display: flex;
    margin: 7px;
}
.SectionThree{
    margin-bottom: 90px;
}
.Footer h6 , span{
    color: #ffffff7d;
}
.by{
    text-align: center;
}